*{
    box-sizing:border-box;
}

body  {
    margin:0;
    width: 100%;
    height: 100%;
}

image-container {
    width:300px;
    padding: 10px 10px 20px 10px;
    border: 1px solid gray;
    box-shadow: 10px 5px 0px #ddd;
}
.image-container img{
    width:100%;
}

 #image-1 {
     float:right;
     margin-left: 40px;
     margin-bottom: 20px;
 }

 .p-1 {
     clear:left;
 }

#image-2 {
    float:left;
    margin:25px;
    width:660px;
    height:215px;
}
.p-2 {
    clear:right;
    margin-right: 20px;
}
